---
import logo from './background.png';

---
<style lang="scss">
  @keyframes opacity-flick {
    0% {
      opacity: 0.05;
      transform: translate(0, 0);
    }
    40% {
      opacity: 0.06;
    }
    50% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.06;
    }
    100% {
      opacity: 0.05;
      transform: translate(-40px, -40px);
    }
  }

  .hero {
    position: relative;
    background-color: orange;
    min-height: var(--xxx-spacing);
    height: 100%;
    z-index: 0;

    .wrapper {
      padding: 0 var(--m-spacing);
    }

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: linear-gradient(90deg, rgba(251,114,75,1) 0%, rgba(41,190,249,1) 100%);

      .background-tile {
        --bg-size: 40px;

        position: absolute;
        width: calc(100% + var(--bg-size));
        height: calc(100% + var(--bg-size));
        background: url('./pattern.png');
        background-repeat: repeat;
        background-size: var(--bg-size);

        animation: opacity-flick linear 9s infinite;
      }
    }

    .hero-title {

      margin: 0 auto;
      transform: translate(0, var(--xxx-spacing));
      aspect-ratio: 650/325;
      max-width: 650px;
      background-color: red;

      background-color: var(--kiara-blue);

      border: 3px solid var(--white);
      box-shadow: var(--modal-shadow);
      overflow: hidden;

      .kiara-header {
        max-height: 650px;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

  }

</style>
<section class="hero">
  <div class="background">
    <div class="background-tile" />
  </div>
  <div class="wrapper">
    <div class="hero-title">
      <div class="kiara-header">
        <img src={logo} />
      </div>
    </div>
  </div>
</section>