---

---
<style lang="scss">
  .statistic {
    color: var(--white);
    min-width: 220px;
    display: flex;
    flex-direction: column;
    background-image: url(./ina.png);
    

    .header {
      font-size: var(--size-h2);
      margin: 0;
    }

  }

    .desc {
      font-size: var(--size-small);
      margin: 0;
    }

</style>

<div class="statistic">
  <h2 class="header"><slot name="header" /></h2>
  <p class="desc"><slot name="desc" /></p>
</div>