.nav{
    background: orangered;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
}

.nav-logo{
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.nav-menu{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav-menu:active{
    color:black;
}

.nav-menu:hover{
    color:black;
}