---
import Section from '../../../components/section/Section.astro';
import SectionHeader from '../../../components/text/SectionHeader.astro';
import Blurb from '../../../components/text/Blurb.astro';
import Reel, { Image } from '../../../components/reel/Reel.tsx';
import Liner from './liner.png';
import KiaraLive from './images/kiara-live.png';
import Daisy from './images/daisy-dankeshoen.jpg';
import Dom from './images/dominik-dankeshoen.jpg';
import Temp from './images/kwt-logo.png';

const images: Image[] = [
  {
    url: KiaraLive,
    description: "Takanashi Kiara is projecting",
    attributionText: "@takanashikiara",
    attributionUrl: "https://twitter.com/takanashikiara",
  },
  {
    url: Daisy,
    description: "Ina in a room",
    attributionText: "@ninomaeinanis",
    attributionUrl: "https://twitter.com/ninomaeinanis ",
  },
    {
    url: Dom,
    description: "Why are there legos on the floor...?  Thanks to everyone who helps me out and encourages me 🧡 Gibus, 😭 your 🎩 almost got blown away💨 See Ko-Fi for projects",
    attributionText: "@Dominik_KFBeats",
    attributionUrl: "https://twitter.com/Dominik_KFBeats ",
  }
];

const { translation } = Astro.props;

---

<style lang="scss">
  .gallery {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 150px;
    background: linear-gradient(60.69deg, #2210AA 0%, #0058FF 100%);
    z-index: 1;

    &:before {
      z-index: -1;
      position:absolute;
      content: '';
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background: url(liner3.png);
      background-size: 250px;
      opacity: 0.2;

    }

    :global(.wrapper) {
      display: flex;
      flex-wrap: wrap;
      row-gap: var(--xxx-spacing);
      column-gap: var(--xxx-spacing);
      flex-direction: column;
      z-index: 1;
    }

    :global(.section-header),
    :global(.blurb) {
      color: var(--light-white);
    }

    .desc-image {
      display: flex;
      column-gap: var(--xxxx-spacing);
      flex-wrap: wrap;

      .description {
        flex: 1 1 0;
      }

      .world {
        max-width: 290px;
        flex: 0 0 auto;
      }
    }

    .reel {
      background-color: orange;
      width: 100%;
      min-height: 30vw;
    }

    @media (max-width: 1280px) {
      .world {
        display: none;
      }
    }
  }
</style>

<Section id="gallery" class="gallery">
  <div class="desc-image">
  <div class="description">
    <SectionHeader>{translation.whereInTheWorld}</SectionHeader>
    <Blurb>{translation.whereInTheWorldDesc}</Blurb>
  </div>
  <img class="world" src={Temp} alt="temp" />
  
  </div>
  <Reel client:load images={images} />
</Section>