@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Colours */
  --white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.75);
  --light-grey: rgba(184, 184, 184, 0.75);
  --black: rgb(0, 0, 0);
  --kiara-orange: #FF9120;
  --kiara-blue: #79CCEF;
  --kiara-light-blue: #EDFAFF;
  --ina-blue: #040023;
  --ina-purple: #4C4160;
  --ina-light-purple: #8B30F5;
  --ina-v-light-purple: #8c30f511;

  /* Fonts */
  --size-h1x: 56px;
  --size-h1: 32px;
  --size-primary: 18px;
  --size-h2: 16px;
  --size-small: 12px;

  /* Constraints */
  --max-width: 1080px;
  --mobile-width: 800px;

  /* Spacing */
  --xxx-spacing: 60px;
  --xx-spacing: 40px;
  --x-spacing: 20px;
  --l-spacing: 12px;
  --m-spacing: 8px;
  --s-spacing: 4px;

  /* Border Radius */
  --x-border-radius: 8px;
  --m-border-radius: 4px;
  --s-border-radius: 2px;

  /* Shadows */
  --modal-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3);

  /* z-index's */
  --z-header: 10;
  --z-modal: 100;
}

* {
  box-sizing: border-box;
}